<template name="addProject">
  <div class="add-project">
    <div class="add-project-item">
      <div class="add-project-item-title">
        项目名称
      </div>
      <div class="add-project-input-wrapper">
        <input class="add-project-input" id="projectname" placeholder="输入项目名称"/>
      </div>
    </div>
    <div class="add-project-item">
      <div class="add-project-item-title">
        项目类型
      </div>
      <div class="add-project-input-wrapper">
        <select class="add-project-input" id="projecttype">
          <option value="svg">svg</option>
          <option value="image">png</option>
        </select>
      </div>
    </div>
  </div>
  <footer class="yhcms-modal-footer">
    <div class="yhcms-btn yhcms-btn-warning">取消</div>
    <div class="yhcms-btn yhcms-btn-primary">确定</div>
  </footer>
</template>
